body{
background-color:rgb(95, 238, 12);
color:rgb(14, 13, 13);

}
header{
     background-color: black;
     color:rgb(250, 248, 246);
     margin: 0px;
     padding: 30px;
     border-radius: 20px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

a{
    color: aliceblue;
}

